
body{
    margin: 0;
    background-color :#111F2C;
}

.profile_picture{
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    margin: 1em;
 }


.main_section{
    background-image: url('images/IMG-2134[437].jpg');
    background-size: cover;
    height: 80vh;
    background-position: center ;
    margin: 0;
    padding:0;
    display: flex;
    align-items: flex-end;
    
    
}

.logo,
.logo_about_me,
.logo_photo_gallery{

    max-width: 30%;
    max-height: 30%;
    padding: 1em .5em; 
}

/* Navigation Bar  */
.container{
    height: 20vh;
    width: 100%;
}
.container-flex{
    display: flex;
    justify-content: center;
    background-color: #9D7E6A;
    
}

nav{
    width: 50%;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 100%;
       
}
nav ul{
    color: white;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-self: center;
    text-align: center;
    
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    padding: .25em 0;
}
.selected{
    border-bottom: 1px solid white;
    padding-bottom: 0;
}


@media (min-width: 675px) {

    nav{
        max-width: 90%;
    }
    nav ul  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;  
        
    }
 
    
    
}

/* END NAGIVATION */

main{
    width: 100%;
}


.main_image img{
    width: 50%;
    
}

/* about me  */
.about_me_main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 80vh;
    align-items: center;
    justify-items: center;
}


.profile_picture,
.about_me_title,
.about_me_info{
    color: white;
    max-width: 60%;
}

.logo_about_me
{
    align-self: center;
    
}
/* end about me */




.my-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.my-photo {
    border: 0.1rem solid white;
    border-radius: 0.7rem;
    margin: 0.5rem;
    height: 200px;
    width: 200px;
}

.footer_recent{
    display:flex;
    justify-content: center;
}

@media(min-width: 675px){
    .logo_photo_gallery{
        max-height: 200px;
    }
}
