
body{
    margin: 0;
    background-color :#111F2C;
}
/* NAGIVATION */

.profile_picture{
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    margin: 1em;

 }

header{
    width: 100%;
    height: 10%;
    margin: 0 auto;
    
} 

.container{
    height: 10vh;
}
.container-flex{
    display: flex;
    justify-content: flex-end;
    background-color: #9D7E6A;
    
}

.main_section{
    background-image: url('images/IMG-2134[437].jpg');
    background-size: cover;
    height: 90vh;
    background-position: center ;
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    
    
}

.page_title{

    max-width: 30%;
    max-height: 30%;
    
    /* align-self: flex-end; */
    /* margin: 0;
    font-size: 4rem;
    letter-spacing: .1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100; */
     padding: 1em .5em; 
   


}

/* Navigation Bar  */
.logo{
    max-width: 10%;
    object-fit: contain;
    
}
nav{
    width: 50%;
    align-self: center;
    
    
}
nav ul{
    color: white;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    
    
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    letter-spacing: .2rem;
    padding: .25em 0;
}


@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin: .5em 0;
    }
}

/* END NAGIVATION */

main{
    width: 100%;
}


.main_image img{
    width: 50%;
    
}

/* about me  */
.about_me_main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    height: 80vh;
    align-items: center;
    justify-items: center;
}

.about_me_title,
.about_me_info{
    color: white;
}


/* end about me */

/* Carosel */


.carousel {
    max-width: 600px;
    margin: 1rem auto;
    max-height: 90vh;
   
}

.carousel .carousel-item {
    display: none;
}

.carousel .carousel-item-visible {
    display: block;
    animation: fadeVisibility 6s
    
}

.carousel .carousel-item img {
    width: auto;
    max-width: 600px;
    
}
/* .carousel-item img {
    width: auto;
    height: 80%;
    justify-content: space-between;
    
} */
.carousel .carousel-actions{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);     
}

.carousel-item-hidden{
    display: none; 
   
}

#carousel-button-next, #carousel-button-prev{
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
} 

#carousel-button-prev {
    margin-left: 20px;
}

#carousel-button-next {
    margin-right: 20px;
}

@keyframes fadeVisibility{
    0% {
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}

/* End Carousel */